body {
	font-size: 1.3rem;
	text-align: justify;
}

.hero-image{
	background-color: #262626;
}


.navbar-brand {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	padding-left: 20px;
}

.form-page {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container-fluid img {
	width: 264px;
	height: auto;
	display: block;
	padding-top: 100px;
	padding-bottom: 50px;
	margin: auto;
}

.row {
	padding: 10px;
}

table {
	margin: 100px 0 100px 0;
	width: 10px;
}

thead {
	position: sticky;
	top: 0;
}

form {
	font-size: medium;
}
